{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Use dockutil to remove all default mac dock items (but not everything in case user has added)
dockutil --remove "Launchpad"
dockutil --remove "Safari"
dockutil --remove "Maps"
dockutil --remove "Photos"
dockutil --remove "FaceTime"
dockutil --remove "Calendar"
dockutil --remove "Reminders"
dockutil --remove "Contacts"
dockutil --remove "Notes"
dockutil --remove "Freeform"
dockutil --remove "TV"
dockutil --remove "Music"
dockutil --remove "News"
dockutil --remove "App Store"
dockutil --remove "System Settings"

# Add some good stuff
dockutil --add /Applications/Firefox.app
dockutil --add /Applications/Notion\ Calendar.app


{{ end -}}
